@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.imagesection-container{
  margin-top: 30px;
}
.imagebox{
    padding-left: 20px;
    -moz-column-count: 3;
    -moz-column-gap: 33px;
    -webkit-column-count: 3;
    -webkit-column-gap: 33px;
    column-count: 3;
    column-gap: 20px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}
/* .imagesection-container{
  width:30%;
} */
.imagebox .imagesection{
  display: flex;
  flex-direction: column;
  break-inside: avoid;
}
.imagesection, .imagesection span{
  position: relative !important;
  /* width:350px !important; */
  overflow: hidden !important;
  margin-bottom: 30px;
}
/* .imagesection span{
  margin-bottom: 15px !important;
} */
.imagesection span img{
  position: relative !important;
  height: 100% !important;
  width:100% !important;
}
.tag{
  background-color: #eee;
  color: #767676;
  text-transform: capitalize;
  width: max-content;
  padding: 8px;
  border-radius: 2px;
}
.card-section{
  /* background-color: black; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
  transition: 0.1s ease-in-out;
    z-index: -1;
    padding:20px;
}
.card-section div{
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.card-section div div{
  border-radius: 4px;
  text-align: center;
  background-color: white;
}
.card-section div button{
  background-color: white;
  border-radius: 5px;
}
.card-section div svg{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  fill:grey;
}
.card-section .info{
    position: absolute;
    bottom: 20px;
    left:20px;
    width: 90%;
    justify-content: space-between;
    color: white;
}
.imagesection span:hover  + .card-section{
  z-index: 1;
  background-color: rgba(0,0,0,0.3);
}

.card-section:hover{
  z-index: 1;
  background-color: rgba(0,0,0,0.3);
}

.header section nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.header section nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
.header section nav ul li{
padding: 20px 12px;
}
.header section nav div{
  overflow: hidden;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  position: relative;
  padding:10px;
}
.header section nav div span{
  height: 20px !important;
    width: 20px !important;
}
.header section nav div .serachicon{
  color:#eee;
}
.header section nav input[type="text"]{
  position: relative;
  /* z-index: -1; */
  width:100%;
  background-color: #eee;
  font-size: 14px;
  color: #111;
  border: 1px solid #0000;
  border-radius: 24px;
  height: 40px;
  padding-left: 50px;
  outline:none;
}
.header section nav div button{
  position: absolute;
  z-index: 1;
}
.header section nav div .imagelogo{
  right:25px;
}
.header section nav div .searchimg{
  left: 20px;
}
.serachicon{
  top: 10px !important;
    left: 25px !important;
  height: 20px !important;
  width: 20px !important;
  margin:0 !important;
  z-index: 1;
}
.submit-photo a{
  border-color: #d1d1d1;
  display: inline-block;
  color: #767676;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  padding: 0 11px;
  border-radius: 4px;
}
.tagsection section{
  padding:15px 0;
}
.tagsection section span{
  display:inline-block;
  margin-left:15px;
}
.banner-container{
  position: relative;
  background-image: url('../public//bannerimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.banner-container .middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.middle h2, .middle p{
  color: white;
}
.middle p span{
  display:inline-block;
  color: #fffc;
}
.middle h2{
  font-size: 45px;
  font-weight: 600;
}
.middle p{
  font-size: 20px;
  font-weight: 400;
}
.unsplash-des{
  margin-top: 20px;
}
.banner-container .bottom{
  width:60%;
  position: relative;
}
.middle div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  background: white;
  height: 55px;
}
.middle div .searchimg{
  margin-left:10px;
}
.middle div .imagelogo{
  margin-right:10px;
}
.middle div svg{
  fill: #767676;
}
.middle div input[type="text"]{
    padding: 15px 12px;
    outline: none;
    flex-grow: 1;
}
.middle .trending{
  font-size:16px;
  margin-top:15px;
}
.middle .trending span{
  display:inline-block;
  color: #fffc;
  margin-left:5px;
}
.middle .div svg{
  fill: #767676;
}

.banner-container .bottom{
  position:absolute;
  bottom: 0;
  left: 0;
  width:100%;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size:13px;
}
.banner-container .bottom span{
  display:inline-block;
  color: #fffc;
}
.banner-container .bottom section{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  color:white;
}
.bottom_corner_section{
  display: flex;
  flex-direction: column;
}